.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;

    .btn {
      min-width: 44px;
      margin: 0 5px;
      padding: 5px;
      background: rgb(245, 199, 207);

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
    }
  }